*{
    margin:0;
    padding:0;
    
}

body{
    display: flex;
    background-color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.splash{
    height:100vh;
    width: 30%;
    overflow: hidden;
    position:relative;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner>img{
    width:80px;
    height:90px;
    object-fit: fill;
    z-index: 1;
}

.banner{
    width:100%;
    height:120px;
    background-color: rgb(0,0,0, 0.6);
    position:absolute;
    top:20%;
    color:white;
    font-size:3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.credit{
    position:absolute;
    bottom:0;
    color:white;
    font-size:0.7rem;
    right:0;
}

.form{
    display:flex;
    flex-direction: column;
    width:70%;
    height: 100vh;
}
.top,.bottom{
    height:30%;
    width: 100%;
    background-color: #f5f5f5;
}


.mid{
    height:40%;
    width: 100%;
    background-color: white;
}

.top p:first-of-type{
    margin-top:80px;
}

.top p{
    margin-left: 50px;
    margin-right: 350px;
    font-size:1.5rem;
}

.bottom p{
    margin-left:55px;
    margin-top:20px;
}

button{
    height:50px;
    width:200px;
    background-color: white;
    margin-top:50px;
    margin-left:50px;
    border-radius: 10px;
    color:purple;
    font-size: 1rem;
    font-weight: bolder;
    border:3px solid purple;
    cursor: pointer;
}

button:active, button:hover{
    background-color: purple;
    color:white;
}

button:active{
    transform: scale(0.98);
}

a:visited,a:link{
    color:purple;
}

h4{
    margin: 20px 50px 30px;
    font-size: 1.5rem;
}

form{
    
    height:60%;
    width:60%;
    margin-left: 50px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

.forminputs{
    margin:5px;
}

label{
    display:block;
    font-size:1.2rem;
    color:purple
}

input{
    width:300px;
    height:25px;
    border-radius: 10px;
    box-shadow: none;
    border:3px solid black;
    font-size: 1rem;
    padding:2px 5px;
}

input:focus{
    outline: purple;
    border: 3px solid purple;

}

